@mixin inverse() {
  & {
    color: white;
  }

  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: white;
  }

  a {
    color: white;
  }

  .link {
    @include link() {}

    @include link-hover() {}
  }
}

.u-inverse {
  @include inverse();
}
