// ==========================================================================
// Lede Atom
// ==========================================================================

.lede {
    &, > p {
        line-height: 1.43;
        font-size: ms(0);
        font-weight: 500;

        @include respond-to(medium) {
            font-size: ms(1, $thread: desktop);
        }
    }
    > *:first-child {
        margin-top: 0;
    }
}
