// ==========================================================================
// Nav Molecule
// ==========================================================================

.m-nav {

}

.m-nav__item {
    @include link() {
        color: palette(grey-dark);
        display: block;
        font-size: ms(-1);
        margin-bottom: spacing(5);

        @include respond-to(medium) {
            font-size: ms(0, $thread: desktop);
        }
    }

    @include link-hover() {
        color: palette(primary);
    }
}

.m-nav--large {
    .m-nav__item {
        @include link() {
            font-size: ms(0);
            margin-bottom: spacing(11);

            @include respond-to(medium) {
                font-size: ms(1);
            }
        }
    }
}

.m-nav--inline {
    .m-nav__item {
        @include link() {
            display: inline-block;
            margin-right: spacing(8);

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.m-nav--masthead {
    background: palette(grey-dark);
    margin-top: spacing(5);

    .m-nav__item {
        @include link() {
            font-size: ms(0);
            display: inline-block;
            margin-right: spacing(2);
            color: palette(white);
            font-weight: bold;
            text-decoration: none;
            padding: spacing(4 8 6 8);

            &:last-of-type {
                margin-right: 0;
            }

            &.is--active {
                color: palette(white);
                background: palette(primary);
            }
        }

        @include link-hover {
            color: palette(white);
        }
    }
}
