// ==========================================================================
// Headings Atom
// ==========================================================================

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  color: palette(black);
  line-height: 1.11;
  font-weight: bold;
  margin: 0;
  padding: 0 0 spacing(medium) 0;

  > a {
    @include link() {
      text-decoration: none;
    }
  }
}

h1, .h1 {
  font-size: ms(4);

  @include respond-to(medium) {
    font-size: ms(4, $thread: desktop);
  }
}

h2, .h2 {
  font-size: ms(3);

  @include respond-to(medium) {
    font-size: ms(3, $thread: desktop);
    padding: 0 0 spacing(base) 0;
  }
}

h3, .h3 {
  font-size: ms(2);

  @include respond-to(medium) {
    font-size: ms(2, $thread: desktop);
    padding: 0 0 spacing(base) 0;
  }
}

h4, .h4 {
  font-size: ms(1);

  @include respond-to(medium) {
    font-size: ms(1, $thread: desktop);
    padding: 0 0 spacing(base) 0;
  }
}


