// ==========================================================================
// Checklist Heading Atom
// ==========================================================================

.h-checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
  top: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    margin-top: rem-calc(3);
    @include respond-to(medium) {
        margin-top: rem-calc(5);
    }

    display: inline-block;
    vertical-align: text-top;
    width: rem-calc(18);
    height: rem-calc(18);
    background: white;
    border: 3px solid palette(primary);
    border-radius: rem-calc(3);
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: rem-calc(6);
    top: rem-calc(13);
    @include respond-to(medium) {
        top: rem-calc(15);
    }
    background: palette(primary);
    width: 3px;
    height: 3px;
    box-shadow:
      2px 0 0 palette(primary),
      4px 0 0 palette(primary),
      4px -2px 0 palette(primary),
      4px -4px 0 palette(primary),
      4px -6px 0 palette(primary),
      4px -8px 0 palette(primary);
    transform: rotate(45deg);


  }

  &:checked + label {
    text-decoration: line-through;
    text-decoration-color: palette(primary);
  }
}
