{% for link in page.downloads.items %}
    <div class="pad-top">
        <h4 id="downloads-{{ forloop.index }}">{{ link.title }}</h4>
        {% if link.description %}
            <p>{{ link.description }}</p>
        {% endif %}

        {% if link.items %}
            <nav>
            {% for item in link.items %}
            {% assign xtn =  item.url | split:'.' | last  %}
            {% case xtn %}
            {% when 'pdf' or 'xlsx' %}
            {% assign xtn_type = 'download' %}
            {% else %}
            {% assign xtn_type = 'target="_blank"' %}
            {% endcase %}
               <a class="nav-item" href="{{ item.url }}" {{ xtn_type }}>{{ item.title }} {% if xtn contains 'pdf' %}[pdf]{% endif %}</a>
            {% endfor %}
        </nav>
        {% endif %}
    </div>
{% endfor %}
