{% comment %}
@todo link to open license
{% endcomment %}
<footer class="m-footer">
    <div class="wrapper">
        <div class="g align-v-center">
            <div class="g__cell g__cell-12 g__cell-8--medium pad-bottom pad-bottom-reset--medium">
                <div class="u-trim">
                    <p class="u-text-color--white">This guide was originally created by the <a class="link link--bold" href="https://theodi.org/" target="_blank">Open Data Institute</a><br/>and is available under an <a class="link link--bold" href="https://theodi.org/" target="_blank">Open License</a></p>
                </div>
            </div>
            <div class="g__cell g__cell-12 g__cell-4--medium align-right u-text-right--medium">
                <a href="https://theodi.org/" target="_blank"><img src="{{ 'assets/images/odi-logo.svg' | rev }}" class="logo"></a>

            </div>
        </div>
    </div>
</footer>
