<div class="m-hero">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--large">
                {% if page.title %}
                    <div class="u-trim--top">
                        <h1 class="m-hero__title">{{ page.title }}</h1>
                    </div>
                {% endif %}

                <div class="g pad-top--medium">
                    <div class="g__cell g__cell-12 g__cell-6--medium g__cell-4--large">
                        <div class="g">
                            <div class="g__cell g__cell-12 g__cell-11--medium m-hero__infographic">
                                <img src="{{ page.image }}" alt="{{ page.title }}" />
                            </div>
                        </div>
                    </div>
                    <div class="g__cell g__cell-12 g__cell-6--medium g__cell-8--large pad-top-small pad-top-reset--medium">
                        <div class="g">
                            <div class="g__cell g__cell-12 g__cell-11--medium">
                                {% if page.description %}
                                    <div class="u-trim--all">
                                        <p class="lede">{{ page.description }}</p>
                                    </div>

                                    <div class="pad-top u-hide-print">
                                        <div class="pad-bottom-small">
                                            <a class="link link--block" href="{{ page.image }}">View full size</a>
                                        </div>
                                        <a class="link link--block" href="{{ page.image }}" download>Download infographic</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="g__cell g__cell-12 g__cell-4--large pad-top-medium pad-top-reset--large u-hide-print">
                {% include section-nav.html %}
            </div>
        </div>
    </div>
</div>
