<div class="m-hero">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium g__cell-7--large">
                <div class="g">
                    <div class="g__cell g__cell-12">
                        {% if layout.hero.pill %}
                            <span class="pill">{{ layout.hero.pill }}</span>
                        {% endif %}
                        {% if page.title %}
                            <div class="u-trim--top">
                                <h1>{{ page.title }}</h1>
                            </div>
                        {% endif %}
                        {% if page.lede %}
                            <div class="u-trim--all">
                                <p class="lede">{{ page.lede}}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="g__cell g__cell-12 g__cell-4--medium pad-top-medium pad-top-reset--medium">
                {% include section-nav.html %}
            </div>
        </div>

        {% if page.soundcloud %}
            <div class="pad-top pad-top-xlarge--medium">
                <!-- @TODO Properly integrate this... -->
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/396896136&amp;color=%23178cff&amp;auto_play=false"></iframe>
            </div>
        {% endif %}
    </div>
</div>
