<div class="m-hero">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium">
                <div class="g">
                    <div class="g__cell g__cell-12">
                        {% if layout.hero.pill %}
                            <span class="pill">{{ layout.hero.pill }}</span>
                        {% endif %}
                        <div class="u-trim--top">
                            <h1>{{ page.title }}</h1>
                        </div>
                        {% if page.lede %}
                            <div class="u-trim--all">
                                <p class="lede">{{ page.lede }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if layout.hero.side_nav %}
            <!-- @TODO - Integrate -->
                <div class="g__cell g__cell-12 g__cell-4--medium pad-top-medium pad-top-reset--medium">
                    <nav class="m-nav">
                        <span class="meta-title">Lorem</span>
                        <a href="#" class="nav-item nav-item--large">What are Open Standards for Data?</a>
                        <a href="#" class="nav-item nav-item--large">Types of Open Data Standards</a>
                        <a href="#" class="nav-item nav-item--large">Why use Open Standards for Data</a>
                        <a href="#" class="nav-item nav-item--large">The Open Standards process</a>
                        <a href="#" class="nav-item nav-item--large">Case Studies</a>
                    </nav>
                </div>
            {% endif %}
        </div>

        {% if layout.hero.lower_nav %}
        <!-- @TODO - Integrate -->
            <div class="g pad-top-medium">
                <div class="g__cell">
                    <nav class="m-nav">
                        <span class="meta-title">Lorem</span>
                        <a href="#" class="nav-item nav-item--large">What are Open Standards for Data?</a>
                        <a href="#" class="nav-item nav-item--large">Types of Open Data Standards</a>
                        <a href="#" class="nav-item nav-item--large">Why use Open Standards for Data</a>
                        <a href="#" class="nav-item nav-item--large">The Open Standards process</a>
                        <a href="#" class="nav-item nav-item--large">Case Studies</a>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
</div>
