<div class="m-hero">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium">
                <div class="g">
                    <div class="g__cell g__cell-12">
                        {% include hero-text.html %}
                    </div>
                </div>
            </div>

            {% if layout.hero.nav.position == 'side' and page.show_nav %}
                <div class="g__cell g__cell-12 g__cell-4--medium pad-top-medium pad-top-reset--medium">
                    {% include section-nav.html %}
                </div>
            {% endif %}
        </div>

        {% if layout.hero.nav.position == 'lower' and page.show_nav %}
            <div class="g pad-top-medium">
                <div class="g__cell">
                    {% include section-nav.html %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
