<div class="m-hero m-hero-home">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium g__cell-7--large">
                <div class="g">
                    <div class="g__cell g__cell-12">
                        {% include hero-text.html %}
                    </div>
                </div>
            </div>
        </div>

        <div class="g pad-top-medium">
            <div class="g__cell g__cell-12">
                <div class="u-trim--all pad-bottom-small pad-bottom--medium">
                    <h2>Introduction to Open Standards</h2>
                </div>

                <a href="#" class="nav-item nav-item--large ">What are Open Standards for Data?</a>
                <a href="#" class="nav-item nav-item--large ">Types of Open Data Standards</a>
                <a href="#" class="nav-item nav-item--large ">Why use Open Standards for Data</a>
            </div>
        </div>
    </div>
</div>
