<div class="m-person">
    <div class="m-person__grid">
        <!-- @TODO Integrate this -->
        <img class="m-person__avatar" src="http://i.pravatar.cc/300" alt="Placeholder person" />
        <div class="m-person__title">
            {% if person.name %}
                <div class="u-trim--all">
                    <span class="m-person__title-header">{{ person.name }}</span>
                </div>
            {% endif %}
            {% if person.role %}
                <span class="m-person__title-lede">{{ person.role }}</span>
            {% endif %}
        </div>
    </div>

    {% if person.twitter or person.website %}
        <div class="m-person__social">
            {% if person.twitter %}
                <span class="m-person__social-link">Twitter: <a target="_blank" href="https://www.twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a>
            {% endif %}
            {% if person.website %}
                <span class="m-person__social-link">Website: <a target="_blank" href="http://{{ person.website }}">{{ person.website }}</a>
            {% endif %}
        </div>
    {% endif %}
</div>