<div class="m-section-listing {{ section.type }}">
    <span class="meta-title">{{ section.meta }}</span>
    <div class="u-trim--all">
        <h2>{{ section.title }}</h2>
    </div>
    {% if section.description %}
        <p>{{ section.description }}</p>
    {% endif %}

    <div class="g pad-top-small pad-top--medium">
        {% for item in section.items %}
            <div class="g__cell
                        g__cell-12
                        {% if section.type != 'short' and section.type != 'full' %}
                            g__cell-6--medium
                            g__cell-4--large
                        {% endif %}">
                {% if section.type == 'short' %}
                <div class="u-trim--all pad-bottom-small">
                {% endif %}
                    <h4 class="m-section-listing__title"><a class="link" href="#">{{ item.title }}</a></h4>
                {% if section.type == 'short' %}
                    </div>
                {% endif %}
                {% if section.type != 'short' %}
                    <p>{{ item.description }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
