<div class="m-share">
    <h4>Share this article</h4>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="share-item">Facebook</a>
    <a href="http://www.twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}%20-%20{{ site.url }}{{ page.url }}" class="share-item">Twitter</a>
    <a href="mailto:?subject={{ page.title | url_encode }}&amp;body=Check%20out%20this%20article%20-%20{{ site.url }}{{page.url }}" class="share-item">Email</a>
</div>

