{% for section in page.sidebar.sections %}
    <div class="pad-top">
        {% if section.title %}
            <h4>{{ section.title }}</h4>
        {% endif %}
        {% if section.intro %}
            <p>{{ section.intro }}</p>
        {% endif %}
        {% if section.items %}
            <nav>
            {% for item in section.items %}
               <a class="nav-item" href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
        {% endif %}
    </div>
{% endfor %}
