// ==========================================================================
// Pill Atom
// ==========================================================================

.pill {
	display: inline-block;
	background: palette(secondary);
	color: white;
	text-transform: uppercase;
	font-size: ms(-1);
	font-weight: 600;
	padding: spacing(3 6);
	margin-bottom: spacing(5);
}
