@mixin trim(){
    > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
@mixin trim-all(){
    > *:last-child {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.u-trim {
	@include trim;
}

.u-trim--all {
	@include trim-all;
}