{% for link in page.downloads.items %}
    <div class="pad-top">
        <h4 id="downloads-{{ forloop.index }}">{{ link.title }}</h4>
        {% if link.description %}
            <p>{{ link.description }}</p>
        {% endif %}

        {% if link.items %}
            <nav class="u-styled-lists">
                <ul>
                    {% for item in link.items %}
                    {% assign xtn =  item.url | split:'.' | last  %}
                    {% case xtn %}
                    {% when 'pdf' or 'xlsx' or 'xls' or 'doc' or 'docx' %}
                        {% assign xtn_type = 'download' %}
                    {% else %}
                        {% assign xtn_type = 'target="_blank"' %}
                    {% endcase %}
                       <li><a class="nav-item" href="{{ item.url }}" {{ xtn_type }}>{{ item.title }} {% if xtn_type == 'download' %}[{{ xtn }}]{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endfor %}
