<div class="m-hero">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium">
                <div class="g">
                    <div class="g__cell g__cell-11">
                        {% include hero-text.html %}

                        <div class="pad-top-small">
                            <a href="#site-content" class="link u-hide-print">Skip to content</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if page.show_nav %}
            <div class="g__cell g__cell-12 g__cell-4--medium pad-top-medium pad-top-reset--medium align-right u-hide-print">
                {% include section-nav.html %}
            </div>
            {% endif %}
        </div>

        {% if page.soundcloud %}
            <div class="pad-top pad-top-xlarge--medium u-hide-print">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud }}&color=%23178cff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
        {% endif %}
    </div>
</div>
