<div class="m-hero m-hero-home">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium g__cell-7--large">
                <div class="g">
                    <div class="g__cell g__cell-12">
                        {% include hero-text.html %}
                    </div>
                </div>
            </div>
        </div>

        <div class="g pad-top-medium u-hide-print">
            <div class="g__cell g__cell-12 g__cell-8--medium g__cell-12--large">
                {% if page.hero.nav.meta %}
                    <span class="meta-title">{{ page.hero.nav.meta }}</span>
                {% endif %}
                {% if page.hero.nav.title %}
                <div class="u-trim--all pad-bottom-small pad-bottom--medium">
                    <h2>{{ page.hero.nav.title }}</h2>
                </div>
                {% endif %}
                {% if page.hero.nav.items.size %}
                <nav>
                    {% for item in page.hero.nav.items %}
                        {% if item.title and item.url %}
                            {% assign itemPage = item %}
                        {% else %}
                            {% assign path = item %}

                            {% comment %}Add a .md file extension if missing {% endcomment %}
                            {% unless path contains '.md' or path contains '.html' %}
                                {% assign path = path | append:'.md' %}
                            {% endunless %}
                            {% assign itemPage = site.pages | where:'path', path | first %}
                        {% endif %}
                        {% if itemPage %}
                            <a href="{{ itemPage.url | relative_url | strip }}" class="nav-item nav-item--large ">{{ itemPage.title }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
