// ==========================================================================
// Footer Molecule
// ==========================================================================

.m-footer {
	background: palette(black);
	padding-top: spacing(50);
	padding-bottom: spacing(50);
}