// ==========================================================================
// Footer Molecule
// ==========================================================================

.m-footer {
    margin-top: 2px;
    background: palette(grey-dark);
    padding-top: spacing(50);
    padding-bottom: spacing(50);

    @media print {
        display: none;
    }
}
