// ==========================================================================
// Footer Molecule
// ==========================================================================

.m-footer {
    margin-top: 2px;
	background: palette(black);
	padding-top: spacing(50);
	padding-bottom: spacing(50);
}
