<div class="m-footer">
	<div class="wrapper">
		<div class="g g--align-v-center">
			<div class="g__cell g__cell-12 g__cell-8--medium pad-bottom pad-bottom-reset--medium">
				<div class="u-trim">
					<p class="u-text-color--white">This guide was originally created by the <a class="link link--bold" href="#">Open Data Institute</a><br/>and is available under an <a class="link link--bold" href="#">Open License</a></p>
				</div>
			</div>
			<div class="g__cell g__cell-12 g__cell-4--medium g--align-right u-text-right--medium">
				{% render '@logo' %}
			</div>
		</div>
	</div>
</div>
