// ==========================================================================
// Paragraph Atom
// ==========================================================================

p {
    font-size: ms(0);
    line-height: 1.44;
    padding: 0;
    margin: 1em 0 0.5em;

    @include respond-to(medium) {
    	font-size: ms(0, $thread: desktop);
    }
}