// ==========================================================================
// Paragraph Atom
// ==========================================================================

p {
    font-size: ms(0);
    line-height: 1.44;
    padding: 0;
    margin: 0 0 spacing(base) 0;
}
