<style>
  body {
    padding: 0;
    margin: 0;
  }
</style>
{% render '@modal' %}

<div class="is--modal-active">
{% render '@cta-tray' %}

{% render '@masthead' %}
{% render '@hero--soundcloud' %}
<section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-8--medium">
                <h3>Podcast Transcript</h3>
                <div class="g">
                    <div class="g__cell g__cell-12 g__cell-3--large">
                        <div class="g">
                            <div class="g__cell g__cell-10">
                                <h5>Edafi Onerhime</h5>
                            </div>
                        </div>
                    </div>

                    <div class="g__cell g__cell-12 g__cell-8--large">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius</p>
                    </div>
                </div>

                <div class="g pad-top--large">
                    <div class="g__cell g__cell-12 g__cell-3--large">
                        <div class="g">
                            <div class="g__cell g__cell-10">
                                <h5>Christopher Bailey</h5>
                            </div>
                        </div>
                    </div>

                    <div class="g__cell g__cell-12 g__cell-8--large">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius</p>
                    </div>
                </div>

                <div class="g pad-top--large">
                    <div class="g__cell g__cell-12 g__cell-3--large">
                        <div class="g">
                            <div class="g__cell g__cell-10">
                                <h5>Christopher Bailey</h5>
                            </div>
                        </div>
                    </div>

                    <div class="g__cell g__cell-12 g__cell-8--large">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius</p>
                    </div>
                </div>

                <div class="g pad-top--large">
                    <div class="g__cell g__cell-12 g__cell-3--large">
                        <div class="g">
                            <div class="g__cell g__cell-10">
                                <h5>Christopher Bailey</h5>
                            </div>
                        </div>
                    </div>

                    <div class="g__cell g__cell-12 g__cell-8--large">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius</p>
                    </div>
                </div>
            </div>
            <div class="g__cell g__cell-12 g__cell-4--medium">
                <h4>People</h4>
                {% render '@person' %}
                {% render '@person' %}

                <div class="pad-top">
                    {% render '@share' %}
                </div>

                <div class="pad-top-medium">
                    <div class="u-trim--all">
                        <h4>Last updated</h4>
                    </div>
                    <p>7th April 2018</p>

                    <a href="#" class="link">See all updates on Github</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% render '@cta' %}
{% render '@footer' %}
</div>
