// ==========================================================================
// Input Form Atom
// ==========================================================================

.input {
    width: 100%;
    display: block;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid lighten(palette(secondary), 40%);
    padding: spacing(13 20);
    font-size: ms(0, $thread: desktop);
    font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;

    @include placeholder {
        color: lighten(black, 60%);
    }

    &:active,
    &:focus {
        border-color: palette(secondary);
    }
}
