// ==========================================================================
// Section Listing Molecule
// ==========================================================================

.m-section-listing {
    padding-bottom: spacing(medium);
    margin-bottom: spacing(medium);
    border-bottom: 1px solid darken(palette(grey), 5%);

    &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}