// ==========================================================================
// Citation Atom
// ==========================================================================

.citation {
    background: palette(primary);
    padding: spacing(20);
    display: inline-block;
}

.citation__link {
    display: block;
    color: palette(white);
    margin-top: spacing(8);
}
