<style>
    body {
        padding: 0;
        margin: 0;
    }
</style>

{% render '@cta-tray' %}

{% render '@masthead' %}
{% include '@hero' %}

<section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
    <div class="wrapper">
        {% render '@section-listing--short' %}
    </div>
</section>

<section class="island island--grey pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
    <div class="wrapper">
        <div class="g">
            <div class="g__cell g__cell-12 g__cell-6--medium g__cell-4--large">
                <div class="u-trim--all">
                    <h5 class="u-text-color--black"><a class="link" href="#">About Open Standards</a></h5>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo</p>
            </div>

            <div class="g__cell g__cell-12 g__cell-6--medium g__cell-4--large">
                <div class="u-trim--all">
                    <h5 class="u-text-color--black"><a class="link" href="#">Help &amp; Support</a></h5>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo</p>
            </div>
        </div>
    </div>
</section>

{% render '@cta' %}
{% render '@footer' %}
