<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Preview Layout</title>

  <script src="https://use.typekit.net/aus2zwm.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  {% if isBuild() %}
    <link media="all" rel="stylesheet" href="{{ 'app.css' | rev | path }}">
  {% endif %}

  <script>
        window.OSD = {
            CONFIG: {
                SITE_URL: '{{ site.url }}',
                GA: '{{ site.ga }}'  ,
            },
        };
        (function(){
            var doc = document.documentElement;
            doc.classList.remove('no-js');
            doc.classList.add('js', 'js-loading');
        }());
    </script>

  <style>
    body {
      margin: 0 !important;
      margin: 25px !important;
      {% if _target.context.preview.noPad == true %}
      {% else %}
      {% endif %}
    }
  </style>
</head>
<body class="antialiased text-base font-sans">

{{ yield }}

{% if isBuild() %}
  <script src="{{ 'chunk-vendors.js' | rev | path }}"></script>
  <script src="{{ 'app.js' | rev | path }}"></script>
{% else %}
  <script src="http://{{ assetHostname() }}:{{ assetPort() }}/app.js"></script>
{% endif %}
</body>
</html>


