// ==========================================================================
// Button Atom
// ==========================================================================

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  border-radius: rem-calc(2);
  padding: spacing(16 35);
  font-weight: 600;
  transition: all ease 150ms;
  text-transform: uppercase;

  @include respond-to(medium) {
    font-size: rem-calc(fontsize(regular));
  }

  @include link() {
    font-size: ms(-1);
    background: palette(primary);
    color: white;
  }

  @include link-hover() {
    background: palette(black);
  }
}

.btn--primary {
  @include link() {
    background: palette(primary);
    color: white;
    background-image: linear-gradient(to bottom, #3e9eff, palette(primary));
    border: solid 2px palette(primary);
  }

  @include link-hover() {
    background: darken(palette(primary), 20%);
    border-color: darken(palette(primary), 10%);
  }
}

.btn--secondary {
  @include link() {
    background: palette(secondary);
    color: white;
    background-image: linear-gradient(to bottom, #ff7d25, palette(secondary));
    border: solid 2px palette(secondary);
  }

  @include link-hover() {
    background: darken(palette(secondary), 10%);
    border-color: darken(palette(secondary), 10%);
  }
}

.btn--naked {
  @include link() {
    background-color: rgba(255, 255, 255, 0);
    color: palette(primary);
  }

  @include link-hover() {
    color: black;
  }
}

.btn--block {
  display: block;
}

.btn--inline {
  display: inline-block;
}

.btn--small {
    padding: spacing(7 15);

    @include link() {
        font-size: rem-calc(12);
    }
}
