// ==========================================================================
// Lists Atom
// ==========================================================================

%list-base {
    list-style: none;
    line-height: 1.44;
    font-size: ms(0);
    padding-left: 0;
    margin: 1em 0 0.5em;

    li {
        margin-bottom: spacing(5);

        &:before {
            left: 0;
        }
    }
}

ul {
    @extend %list-base;
}


@mixin list--bullet {
    @extend %list-base;

    li {
        padding-left: rem-calc(5);

        &:before {
            content: " ";
            display: inline-block;
            margin-bottom: rem-calc(4);
            margin-right: rem-calc(12);
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: palette(black);
        }
    }
}

.list--bullet {
    @include list--bullet;
}

@mixin list--numbered {
    @extend %list-base;
    counter-reset: list;

    li {

        &:before {
            counter-increment: list;
            content: counters(list, ".") ".";
            color: palette(black);
            margin-right: rem-calc(12);
            font-size: ms(-1);
        }
    }

    ol {
        counter-reset: list;
    }
}

.list--numbered {
    @include list--numbered;
}

.u-styled-lists {
    ul {
        @extend %list-base;
    }
    ol {
        @include list--numbered;
    }
}
