// ==========================================================================
// Callout Atom
// ==========================================================================

.callout {
    background: palette(primary);
    padding: spacing(base);
    @include inverse();
    @include trim();
    > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}
