// ==========================================================================
// Callout Atom
// ==========================================================================

.callout {
    @include inverse();
    @include trim();
    margin: spacing(base 0);
    padding: spacing(base);
    background: palette(primary);

    > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}
