// ==========================================================================
// Callout Atom
// ==========================================================================

.callout {
    @include trim();
    margin: spacing(base 0);
    padding: spacing(base);
    border: rem-calc(12) solid palette(primary);

    @include respond-to(medium) {
        border: rem-calc(25) solid palette(primary);
    }

    > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}
