// ==========================================================================
// Links Atom
// ==========================================================================
a {
  text-decoration: underline;
  text-decoration-skip: ink;

  @include link() {
    color: palette(primary);
  }

  @include link-hover() {
    color: palette(grey-dark);
  }
}

.link--block {
  display: block;
}

.link--plain {
  text-decoration: none;
  text-decoration-skip: none;

  @include link() {
    color: palette(black);
  }

  @include link-hover() {}
}

.link--black {
  @include link() {
    color: palette(black);
  }

  @include link-hover() {
    color: palette(primary);
  }
}

.link--break {
  word-break: break-word;
}
