<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/styles/main.css">
    {% comment %}<link rel="stylesheet" href="{{ 'dist/styles/main.css' | gulp_rev }}">{% endcomment %}

    <title>{{ page.title }}</title>

    {% comment %}
      add a .js class to the html element
    {% endcomment %}
    <script>
        window.OSD = window.OSD || {};
        (function(){
            var doc = document.documentElement;
            doc.classList.remove('no-js');
            doc.classList.add('js', 'js-loading');
        }());
    </script>

</head>

{% comment %}
    @todo make debug class dynamic
{% endcomment %}
<body class="debug">

<!-- Global CTA with default content injected -->
{% capture cta_top_default %}
    <div class="u-trim--all">
        <p>Something missing? <a class="link link--bold link--secondary" href="#">edit this page</a> or <a class="link link--bold link--secondary" href="#">suggest new content</a></p>
    </div>
{% endcapture %}
<!-- Global CTA Above Masthead -->
{% include cta.html content=cta_top_default color="white" %}

<!-- Global Masthead -->
{% include masthead.html %}

<!-- Site Content -->
<main id="site-body">
    {{ content }}
</main>

<!-- Global CTA with default content injected -->
{% capture cta_bottom_default %}
    <div class="u-trim--all">
        <p>Something missing? <a class="link link--bold" href="#">edit this page</a> or <a class="link link--bold" href="#">suggest new content</a></p>
    </div>
{% endcapture %}
<!-- Global CTA Above Footer -->
{% include cta.html content=cta_bottom_default color="primary" %}

<!-- Global Footer -->
{% include footer.html %}

{% comment %}
<script src="{{ 'dist/js/app.js' | gulp_rev }}"></script>
{% endcomment %}

</body>
</html>
