---
layout: application
description: 'About page intro'
hero:
  nav:
    position: side
---
<div class="m-hero__wrapper">
    {% include breadcrumbs.html %}
    {% include hero.html %}
</div>
{% if page.show_toc %}
    <div class="u-hide-print">
        {% include nav-tray.html %}
    </div>
{% endif %}
<div id="site-content" class="site-content">
    <section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
        <div class="wrapper">
            <div class="g">
                <article class="g__cell g__cell-12 g__cell-8--medium u-styled-lists">
                    {{ content | improve }}

                    {% for tasklist in page.tasklists.items %}
                        {% include task-list.html %}
                    {% endfor %}
                </article>
                <aside class="g__cell g__cell-12 g__cell-4--medium u-hide-print">
                    {% include download-links.html %}
                    {% include sidebar-sections.html %}
                    {% include commit-info.html %}
                </aside>
            </div>
        </div>
    </section>
</div>
