---
layout: application
description: 'About page intro'
hero:
  nav:
    position: side
---
<div class="m-hero__wrapper">
    {% include breadcrumbs.html %}
    {% include hero.html %}
</div>
{% if page.show_toc %}
    {% include nav-tray.html %}
{% endif %}
<div id="site-content">
    <section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
        <div class="wrapper">
            <div class="g">
                <article class="g__cell g__cell-12 g__cell-8--medium u-styled-lists">
                    {{ content }}
                </article>
                <aside class="g__cell g__cell-12 g__cell-4--medium">
                    {% include sidebar-sections.html %}
                    {% include commit-info.html %}
                </aside>
            </div>
        </div>
    </section>
</div>
