---
layout: application
hero:
  nav:
    position: side
---

<div class="m-hero__wrapper">
    {% include breadcrumbs.html %}
    {% include hero-infographic.html %}
</div>
<div id="site-content" class="site-content">
    <section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
        <div class="wrapper">
            <div class="g">
                <article class="g__cell g__cell-12 g__cell-8--medium">
                    {{ content }}

                </article>
                <div class="g__cell g__cell-12">
                    <div class="pad-top">
                        <a href="{{ page.image }}"><img src="{{ page.image }}" alt="{{ page.title }}" /></a>
                    </div>
                </div>
                <aside class="g__cell g__cell-12 g__cell-4--medium align-right">
                    <div class="u-hide-print">
                        {% include sidebar-sections.html %}
                        {% include commit-info.html %}
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>
