---
layout: application
breadcrumbs: true
hero:
    side_nav: true
---

<div class="m-hero__wrapper">
    {% include breadcrumbs.html %}
    {% include hero.html %}
</div>

<div class="pad-bottom-medium pad-bottom-xlarge--medium">
    <div class="wrapper">
        {{ content }}

        <section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
            {% for section in page.sections.items %}
                {% include section-listing.html type=section.type %}
            {% endfor %}
        </section>
    </div>
</div>
