---
layout: application
breadcrumbs: true
hero:
    side_nav: true
---

<div class="m-hero__wrapper">
    {% include breadcrumbs.html %}
    {% include hero.html %}
</div>

<div class="pad-bottom-medium pad-bottom-xlarge--medium">
    <div class="wrapper">
        <h1>{{ page.title }}</h1>

        <p class="lede">{{ page.lede }}</p>

        {% include section-nav.html %}

        <div id="toc">
            <h4>Page contents</h4>
            {% include toc.html html=content %}
        </div>

        {{ content }}
    </div>
</div>
