---
layout: application
hero:
  pill: podcast
---

<div class="m-hero__wrapper">
    {% include breadcrumbs.html %}
    {% include hero-podcast.html %}
</div>

<div id="site-content" class="site-content">
    <section class="pad-top-medium pad-top-xlarge--medium pad-bottom-medium pad-bottom-xlarge--medium">
        <div class="wrapper">
            <div class="g">
                <article class="g__cell g__cell-12 g__cell-8--medium">
                    {{ content }}
                </article>
                <aside class="g__cell g__cell-12 g__cell-4--medium">
                    {% include sidebar-sections.html sections=page.sidebar.sections %}

                    <div class="pad-top-medium pad-top-reset--medium">
                        {% for person in page.people %}
                            {% include person.html %}
                        {% endfor %}
                    </div>

                    <div class="pad-top">
                        {% include share.html %}
                    </div>
                    {% include commit-info.html %}

                </aside>
            </div>
        </div>
    </section>
</div>
