// ==========================================================================
// Brand Atom
// ==========================================================================

.brand {
    display: block;
    margin: 0;
    font-size: ms(3);
    line-height: 1.15;
    font-weight: bold;
    color: white;
    text-decoration: none;
    @include respond-to(medium) {
        font-size: ms(4, $thread: desktop);
    }
}
