// ==========================================================================
// Brand Atom
// ==========================================================================

.brand {
  font-size: ms(3);
  line-height: 1.15;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0;
  @include respond-to(medium) {
    font-size: ms(4, $thread: desktop);
  }
}
