// ==========================================================================
// Nav Tray Molecule
// ==========================================================================

.m-nav-tray {
    background: palette(primary);
    padding: spacing(15 0);
    width: 100%;
    text-align: left;

    @include link-hover() {
        cursor: pointer;
    }

    &.is--open {
        .m-nav-tray__title {
            color: palette(white);

            .chevron {
                margin-bottom: spacing(3);
            }
        }
    }
}

.m-nav-tray__title {
    color: palette(white);
    font-size: ms(-1);
    font-weight: 600;

    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }

    .chevron {
        margin-left: spacing(3);
        margin-bottom: spacing(2);
    }
}


.m-nav-tray__inner {
    .js & {
        display: none;
    }
    background: tint(palette(primary), 'darken');
    padding: spacing(25 0);

    &.is--open {
        display: block;
    }

    .m-nav__item {
        @include link() {
            color: palette(white);
            font-size: ms(0, $thread: desktop);
            margin-bottom: spacing(10);
            font-weight: 600;
        }

        @include link-hover() {
            color: tint(palette(white), 'darken');
        }
    }
}

.m-nav-tray__close {
    color: palette(white);
    font-size: ms(-1);
    font-weight: 600;

    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }
}
