// ==========================================================================
// Nav Tray Molecule
// ==========================================================================

.m-nav-tray__toggle {
    background: palette(primary);
    padding: spacing(15 0);
    width: 100%;
    text-align: left;

    @include link-hover() {
        cursor: pointer;
    }

    &.is--active {
        .m-nav-tray__title {
            color: palette(white);

            .chevron {
                transform: rotate(-180deg);
                margin-bottom: spacing(3);
            }
        }
    }
}

.m-nav-tray__title {
    color: palette(white);
    font-size: ms(-1);
    font-weight: 600;

    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }

    .chevron {
        margin-left: spacing(3);
        margin-bottom: spacing(2);
    }
}


.m-nav-tray__inner {
    display: none;
    background: tint(palette(primary), 'darken');
    padding: spacing(25 0);

    &.is--open {
        display: block;
    }


    // Gross list overrides cos we can't reach into inner markup in this section
    ul {
        width: 100%;
        margin: spacing(5 0 10 0);
        padding: 0;

        @include respond-to(medium) {
            column-count: 2;
        }

        li {
            font-size: ms(0);
            break-inside: avoid;

            @include respond-to(medium) {
                font-size: ms(0);
            }
        }

        ul {
            column-count: 1;
            padding: 0;
            margin: spacing(12 0 0 0);
            display: block;

            li {
                break-inside: auto;
                &:before {
                    content: "\00BB";
                    margin-bottom: rem-calc(3);
                    margin-right: rem-calc(5);
                }

                a {
                    @include link() {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.m-nav-tray__close {
    color: palette(white);
    font-size: ms(-1);
    font-weight: 600;

    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }
}
