// ==========================================================================
// Control Atom
// ==========================================================================

.control {
    padding-bottom: rem-calc(20);

    &.has--success {
        .label, .control__caption {
            color: #0DBC37;
        }

        .input {
            border-color: #0DBC37;
            color: #0DBC37;
        }
    }

    &.has--error {
        .label, .control__caption {
            color: #D60303;
        }

        .input {
            border-color: #D60303;
            color: #D60303;
        }
    }
}

.control__caption {
    @include trim();
    display: block;
    font-size: ms(-1);
    font-style: italic;
    color: lighten(black, 40%);
    padding-bottom: rem-calc(5);
}
