// ==========================================================================
// Breadcrumb Molecule
// ==========================================================================

.m-breadcrumb {
    @media print {
        display: none;
    }
}

.m-breadcrumb__item {
    @include link() {
        font-weight: bold;
        font-size: ms(0, $thread: desktop);
        color: palette(grey-dark);
    }

    @include link-hover() {
        color: lighten(palette(grey-dark), 25%);
    }

    &.is--active {
        @include link() {
            font-weight: normal;
        }
    }
}

.m-breadcrumb__seperator {
    font-weight: bold;
}
