// ==========================================================================
// WRAPPER LAYOUT
// ==========================================================================

// CONFIG + SETTINGS
// Max-width of the wrapper module regardless of the breakpoint,
$_wrapper-max-width: 1200;

// Gutter width of the wrapper to aid legibility on smaller devices.
$_wrapper-padding: 25;

.wrapper {
    margin: 0 auto;
    clear: both;
    position: relative;

    padding-left: rem-calc($_wrapper-padding);
    padding-right: rem-calc($_wrapper-padding);

    width: 100%;
    max-width: rem-calc($_wrapper-max-width);
}
