// ==========================================================================
// Masthead Molecule
// ==========================================================================

.m-masthead {
	background: palette(primary-dark);
	padding-top: spacing(base);
	padding-bottom: spacing(base);
}