<style>
	body {
		padding: 0;
		margin: 0;
	}
</style>

{% render '@cta-tray' %}
{% render '@masthead' %}
{% include '@hero' %}
{% render '@nav-tray--open' %}

<div class="wrapper pad-top-medium pad-bottom-medium">
    <div class="g">
        <div class="g__cell g__cell-12 g__cell-6--medium">
            <div class="u-trim--all">
                <h3>Open Standards for Data</h3>
            </div>

            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

            <h3>Creating Open Standards</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

            <h3>Scoping and starting</h3>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Scoping and starting</h4>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.</p>

        </div>
    </div>
</div>

<div class="island island--primary pad-top-small pad-bottom-small">
	<div class="wrapper">
		<div class="u-trim--all">
			<small class="u-text-color--white">Something missing? <a href="#">edit this page</a> or <a href="#">suggest new content</a></small>
		</div>
	</div>
</div>

{% render '@footer' %}
