// ==========================================================================
// Meta Title Atom
// ==========================================================================

.meta-title {
    color: palette(secondary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: ms(-1);
    display: block;
    padding-bottom: spacing(2);
}

.meta-title--white {
    color: palette(white);
}
