// ==========================================================================
// Meta Title Atom
// ==========================================================================

.meta-title {
    color: palette(secondary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: ms(-1);
}
