// ==========================================================================
// BACKGROUND COVER MIXIN
// ==========================================================================

@mixin bg-cover() {
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
