// ==========================================================================
// Breakpoint Config
// ==========================================================================

@import "breakpoint-sass/stylesheets/breakpoint";


@mixin breakpoint-load($breakpoints) {
    // use ems as the unit when outputting media queries
    @include breakpoint-set('to ems', true);


    // Build mobile first, width-based breakpoints from the config
    @each $bp, $width in $breakpoints {
        @include add-breakpoint($bp, ($width * 1px, 'no-query' true));
    }

    // Make som enon-width queries available
    @include add-breakpoint('high resolution', min-resolution 1.5dppx);
    @include add-breakpoint('landscape', orientation landscape);
    @include add-breakpoint('portrait', orientation portrait);
}


