@import '../tools/map-get-if-exists';
@import '../tools/map-deep-get-set';

$__font-size: () !default  !global;

@mixin fontsize-load($fontsizes-map) {
  $__font-size: $fontsizes-map !global;
}


@function fontsize($size) {
    $size: quote($size);

    @return map-get-if-exists($__font-size, $size);
}

@function get-fontsize() {
    @return $__font-size;
}
