// ==========================================================================
//  Layout Alignment
// ==========================================================================

.align-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.align-end {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.align-right {
    margin-left: auto;
}

.align-v-top {
    align-items: flex-start;
}

.align-v-bottom {
    align-items: flex-end;
}

.align-v-center {
    align-items: center;
}
