// ==========================================================================
// CTA Tray Molecule
// ==========================================================================

.m-cta {
    background: palette(secondary);
    padding: spacing(15 0);
    color: white;
}
