<div class="m-accordion">

    {% for item in items %}
        <div class="m-accordion__item{% if item.open %} is--open{% endif %}">
            <a class="m-accordion__title" href="#">
                <b class="chevron chevron--down"></b>
                <h5 class="m-accordion__title-text">{{ item.title }}</h5>
            </a>
            <div class="m-accordion__content{% if item.open %} is--open{% endif %}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum augue iaculis purus pellentesque, finibus molestie nulla aliquet. Cras varius arcu metus, vel eleifend justo porttitor ac. Nulla imperdiet sed velit vitae congue. Consectetur adipiscing elit. Pellentesque dictum augue iaculis purus pellentesque, finibus molestie nulla aliquet. Cras varius arcu metus, vel eleifend justo porttitor ac. Nulla imperdiet sed velit vitae congue</p>

                <p>Pellentesque pulvinar convallis eros. Suspendisse metus lorem, iaculis ac sem ut, rutrum ullamcorper erat. Sed pharetra, justo laoreet vestibulum sagittis, sem ligula facilisis ante, in condimentum turpis nibh non diam.</p>
            </div>
        </div>
    {% endfor %}
</div>
