// ==========================================================================
// Hero HomeMolecule
// ==========================================================================

.m-hero-home {
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    .wrapper {
        background-image: url('../images/hero-illustration.svg');
        background-repeat: no-repeat;
        background-position: bottom -20px right 0px;
        padding-top: spacing(base);
        padding-bottom: 90%;
        background-size: 100%;

        @include respond-to(medium) {
            background-position: bottom -20px right -200px;
            padding-top: spacing(xlarge);
            padding-bottom: spacing(xlarge);
            background-size: rem-calc(475);
        }

        @include respond-to(large) {
            background-position: bottom -20px right -100px;
            background-size: rem-calc(550);
        }

        @include respond-to(xlarge) {
            background-size: rem-calc(575);
            background-position: bottom -20px right 0;
        }
    }
}
