// ==========================================================================
// Nav Item Molecule
// ==========================================================================

.m-nav-item {
    @include link() {
        color: palette(grey-dark);
        display: block;
        font-size: ms(-1);
        margin-bottom: spacing(5);

        @include respond-to(medium) {
            font-size: ms(0, $thread: desktop);
        }
    }

    @include link-hover() {
        color: palette(primary);
    }
}

.m-nav-item--large {
    @include link() {
        font-size: ms(0);
        margin-bottom: spacing(11);

        @include respond-to(medium) {
            font-size: ms(1);
        }
    }
}

.m-nav-item--inline {
    @include link() {
        display: inline-block;
        margin-right: spacing(8);

        &:last-of-type {
            margin-right: 0;
        }
    }
}


.m-nav--mobile {
    background: palette(primary);
    padding: spacing(20 25);
    display: none;

    .m-nav__item {
        @include link() {
            padding: spacing(3 0);
            color: white;
            font-weight: bold;
            font-size: ms(0);
        }

        @include link-hover() {
            color: tint(white, 'darken');
        }
    }

    &.is--open {
        display: block;
    }
}
