// ==========================================================================
// Chevron Atom
// ==========================================================================

@mixin chevron {
  display: inline-block;
  border-right: rem-calc(3) solid palette(primary);
  border-bottom: rem-calc(3) solid palette(primary);
  width: rem-calc(4);
  height: rem-calc(4);
  transform: rotate(-45deg);
}

.chevron {
    @include chevron;
}

.chevron--down {
    transform: rotate(45deg);
}

.chevron--up {
    transform: rotate(-135deg);
}

.chevron--left {
    transform: rotate(135deg);
}

.chevron--white {
    border-color: white;
}
