// ==========================================================================
// Hero Molecule
// ==========================================================================

.m-hero__wrapper {
    background-color: palette(grey);
    padding-bottom: spacing(base);

    @include respond-to(medium) {
        padding-bottom: spacing(xlarge);
    }
}

.m-hero {
    padding-top: spacing(45);

    @include respond-to(medium) {
        padding-top: spacing(88);
    }
}

.m-breadcrumb__wrapper + .m-hero {
    padding-top: 0;

    @include respond-to(medium) {
        padding-top: 0;
    }
}

.m-breadcrumb__wrapper {
    padding-top: spacing(base);

    @include respond-to(medium) {
        padding-top: spacing(xlarge);
    }
}
