// ==========================================================================
// Hero Molecule
// ==========================================================================

.m-hero {
	background-color: palette(grey);
	padding-top: spacing(base);
	padding-bottom: spacing(base);

	@include respond-to(medium) {
		padding-top: spacing(xlarge);
		padding-bottom: spacing(xlarge);
	}

	.m-nav__item {
		@include link-hover {
			color: lighten(palette(grey-dark), 25%);
		}
	}
}

.m-hero__infographic {
    img {
        width: 100%;
    }
}
