// ==========================================================================
// Hero Molecule
// ==========================================================================

.m-hero {
	background: palette(primary-light);
	padding-top: spacing(base);
	padding-bottom: spacing(medium);
}