<div class="m-hero">
	<div class="wrapper">
		{% if hero.breadcrumbs %}
			<div class="pad-bottom">
				{% render '@breadcrumb' %}
			</div>
		{% endif %}
		<div class="g">
			<div class="g__cell g__cell-12 g__cell-8--medium">
				<div class="g">
					<div class="g__cell g__cell-12 g__cell-11--medium">
						{% if pill %}
							{% include '@pill' %}
						{% endif %}
						{% if hero.heading %}
							<div class="u-trim--all">
								<h1>{{ hero.heading }}</h1>
							</div>
						{% endif %}
						{% if lede %}
                            <div class="u-trim--all">
    							{% include '@lede' %}
                            </div>
						{% endif %}
					</div>
				</div>
			</div>
			{% if hero.sidenav %}
				<div class="g__cell g__cell-12 g__cell-4--medium pad-top-small pad-top-reset--medium">
					{% include '@nav--large' %}
				</div>
			{% endif %}
		</div>
		{% if hero.lowernav %}
		<div class="g pad-top-medium">
			<div class="g__cell">
				{% include '@nav' %}
			</div>
		</div>
		{% endif %}
	</div>
</div>
