// ==========================================================================
// Nav Molecule
// ==========================================================================

.m-nav {
	
}

.m-nav__item {
	@include link() {
		color: palette(primary-mid);
		display: block;
		font-size: ms(0);
		margin-bottom: spacing(5);
	}

	@include link-hover() {
		color: palette(primary);
	}
}